certifi==2025.4.26 # Testing
iniconfig==2.1.0 # PyTest Testing
packaging==25.0 # PyTest Testing
pluggy==1.5.0 # PyTest Testing
pytest==8.3.5 # PyTest Testing

click==8.1.8 # Uvicorn
httptools==0.6.4 # Uvicorn
pyyaml==6.0.2 # Uvicorn
uvicorn==0.34.0 # Uvicorn
uvloop==0.21.0 # Uvicorn
watchfiles==1.0.4 # Uvicorn
websockets==15.0.1 # Uvicorn

creyPY[postgres]==3.0.0 # My own package
